  body {
    background-image: url('heartPlantBackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .topHeading_1 {
    color: snow;
    background: black;
    font-weight: bolder;
    text-align: center;
  }
  p {
    color: purple;
    text-align: center;
  }
  h1 {
    color: Aqua;
    text-align:center;
  }
  h2 {
    color: gold;
    text-align:center;
  }
  h3 {
    color: purple;
    text-align: left;}
